.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d-flex {
  display: flex !important;
}

.d-flex.flex-column{
  flex-direction: column !important;
}

.d-flex.justify-content-center{
  justify-content: center !important;
}

.d-flex.d-flex.justify-content-start{
  justify-content: flex-start !important;
}

.d-flex.d-flex.justify-content-end{
  justify-content: flex-end !important;
}

.d-flex.d-flex.justify-content-sp-between{
  justify-content: space-between !important;
}

.d-flex.align-items-center{
  align-items: center !important;
}

.d-flex.align-items-start{
  align-items: flex-start !important;
}

.d-flex.align-items-end{
  align-items: flex-end !important;
}

.d-none{
  display: none !important;
}

.font-125{
  font-size: 1.25rem;
}

.m-in-r-10 > *{
  margin-right: 10px;
}

.m-in-l-10 > *{
  margin-left: 10px;
}

.m-in-x-10 > *{
  margin-right: 10px;
  margin-left: 10px;
}

.m-in-y-10 > *{
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-y-20{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}